

* {
	box-sizing: border-box;
	
	font-size: 14px;
	font-family: Arial;
	font-size: 14px;
}

.header{
	width: 100%;
	height: 65px;
	max-width: 1519.2px;
	text-align: center;
	align-content: center;
	border-bottom: 1px solid #ccc;

	display: flex;
	justify-content: space-between;
	align-items: center;

	
	position: fixed;
	top: 0;
	left: 0;

	padding: 0 12px;

	background-color: white;
	z-index: 100;
}



/* First header */


.first-header {
	display: flex;

	width: 747.6px;
	height: 40px;
	padding: 0 12px;
	align-items: center;
}

.coursera {
	width: 127px;
	height: 32px;

	font-family: Arial;
	color: #0065D2;
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;

	margin-bottom: 8px;
}

.icon {
	width: 9px;
	height: 9px;
	
}

.study-button {
	line-height: 36px;
	background-color: #0056D2;
	width: 92px;
	height: 36px;

	border-radius: 3px;
	margin: 0 18px;

}

.study-text {
	font-weight: bold;
	display: inline;
	color: white;
	
}

.input {
	width: 420px;
	height: 40px;

}

.image {
	width: 16px;
	height: 16px;
}

.image-button {
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	background-color: #0056D2;
	padding: 10px;
	border: 1px solid #898989;
	border-left: 1px solid #0056D2;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}




/* Second header */

.second-header {
	display: flex;

	width: 747.6px;
	height: 44px;
	padding: 0 12px;

	justify-content: right;
	align-items: center;
}


.link {
	padding: 12px 18px;
	text-decoration: none;
	color: black;
	font-weight: 300;
	&:hover {
		color: #0056D2;
		text-decoration: underline;
	}
}

.link-log {
	padding: 3px 12px;
	line-height: normal;
	color: #0056D2;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
};

.link-join {
	display: block;
	background-color: #0056D2;
	line-height: 4px;	
	border-radius: 2px;
	color: white;

	height: 36px;
    min-width: 88px;

    text-decoration: none;
    font-weight: bold;

    padding: 15px;

    &:hover {
    	background-color: #0350b6; 
    }

}


/* Courses */

.container__courses {
	

	position: relative;
	top: 100px;
	

	margin: 0 auto;

	width: 100%;
	max-width: 1200px;
	height: 748px;

	

	
}


.courses__suptitle {
	margin-bottom: 0px;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 20px;
	color: rgb(56, 45, 139);
	font-weight:600;
}

.courses__title {

	line-height: 52px;
    font-size: 44px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.1px;
    color: rgb(31, 31, 31);
    font-weight: normal;
    margin-top: 13px;
    margin-bottom: 16px;

}

.courses__subtitle {
	line-height: 28px;
    font-size: 20px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.1px;
    color: rgb(31, 31, 31);
    font-weight: normal;
    margin-bottom: 32px;

}

.courses {
	display: flex;
	justify-content: space-between;

}

.course-back {
	border-radius: 3px;
    height: 395px;
    
    overflow: hidden;

    transition: opacity .2s linear;


    box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, 
    	rgb(31 31 31 / 12%) 0px 1px 4px;
    &:hover{
    	box-shadow: rgb(31 31 31 / 24%) 0px 1px 6px, 
    	rgb(31 31 31 / 24%) 0px 1px 4px;
	}	
}


.image-back {
	width: 268px;
	height: 132px;
	background-size: cover;
}

.image-font {
	width: 54px;
	height: 54px;
}

.font {
	position: absolute;

	
    border: 1px solid rgb(225, 225, 225);
    border-radius: 3px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
	

    width: 72px;
    height: 72px;
    padding: 8px;
    

    
}

.course__text {
	line-height: 36px;
	position: relative;
    margin-top: 48px;
    z-index: 1;
    padding: 0.75rem 1.5rem;
}

.course__title {
	opacity: 85%;

	font-size: 20px;
    line-height: 1.5rem;
    font-weight: normal;
    
}

.course__subtitle {
	font-size: 14px;
	color: #666666;
}



.text__course {
	position: relative;
	color: black;
	opacity: 90%;
	font-size: 0.75rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;

}

/* RICE */

.rice{

}

.rice-text__course {
	top: 70px;
	left: 25px;
}

.rice__image-font {
	top: 264px;
    left: 28px;
}

/* SYDNEY */

.sydney {
	
    
}

.sydney-text__course {
	top: 50px;
	left: 25px;
}

.sydney__image-font {
	top: 264px;
    left: 338px;
}

.syndey__gratis {

	font-size: 12px;
    float: right;
    font-weight: bold;
    font-family: Arial;
    width: fit-content;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 224, 87);
    border-radius: 10px;
    padding: 4px 17px;

    position: absolute;
    top: 312px;
    left: 495px;
    z-index: 10;
    
}

/* LEARN_QUEST */

.learn_quest{

}

.learn_quest-text__course {
	top: 70px;
	left: 25px;
}

.learn_quest__image-font {
	top: 264px;
    left: 648px;
}

/* SAS */

.sas {

}

.sas-text__course {
	top: 90px;
	left: 25px;
}

.sas__image-font{
	top: 264px;
    left: 958px;
}


/* 11 FACULTIES */

.faculty__container {
	display: flex;
    flex-wrap: wrap;
    align-items: stretch;


}


.faculties-container {
	max-width: 1240px;
    margin: 0px auto calc(9rem);
    
    margin: 150px 0;

    line-height: 21px;
}


.faculties-of-title {
	line-height: 52px;
    font-size: 44px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    letter-spacing: -0.1px;
    color: rgb(31, 31, 31);
    font-weight: normal;
    margin-bottom: 16px;
}

.course__container {
	display: block;
    flex-basis: 25%;
    margin-right: 20px;
    margin-bottom: 20px;


	display: flex;
	align-items: center;
	max-width: 280px;
	max-height: 80px;

	position: relative;
    width: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, 
    	rgb(31 31 31 / 12%) 0px 1px 4px;
    cursor: pointer;

    &:hover {
    	box-shadow: rgb(31 31 31 / 22%) 0px 2px 6px, 
    	rgb(31 31 31 / 22%) 0px 1px 4px;
    	
    }
}

.image-container {
	
	width: 80px;
    min-width: 80px;
    height: 80px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.faculty__title {
	display: block;
	font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin: 0;
    color: rgb(31, 31, 31);
    
}

.faculty__subtitle {
	font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    max-height: 20px;
    margin: 0;
    color: rgb(99, 99, 99);
}

.faculty__image {
	width: 80px;
	height: 80px;
}

.faculty__text{
	display: flex;
	flex-direction: column;

}


























