* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: Arial;
  font-size: 14px;
}

.header {
  width: 100%;
  height: 65px;
  max-width: 1519.2px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 12px;
  background-color: white;
  z-index: 100;
}

/* First header */
.first-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 747.6px;
  height: 40px;
  padding: 0 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coursera {
  width: 127px;
  height: 32px;
  font-family: Arial;
  color: #0065D2;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 8px;
}

.icon {
  width: 9px;
  height: 9px;
}

.study-button {
  line-height: 36px;
  background-color: #0056D2;
  width: 92px;
  height: 36px;
  border-radius: 3px;
  margin: 0 18px;
}

.study-text {
  font-weight: bold;
  display: inline;
  color: white;
}

.input {
  width: 420px;
  height: 40px;
}

.image {
  width: 16px;
  height: 16px;
}

.image-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: #0056D2;
  padding: 10px;
  border: 1px solid #898989;
  border-left: 1px solid #0056D2;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Second header */
.second-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 747.6px;
  height: 44px;
  padding: 0 12px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link {
  padding: 12px 18px;
  text-decoration: none;
  color: black;
  font-weight: 300;
}
.link:hover {
  color: #0056D2;
  text-decoration: underline;
}

.link-log {
  padding: 3px 12px;
  line-height: normal;
  color: #0056D2;
  text-decoration: none;
}
.link-log:hover {
  text-decoration: underline;
}

.link-join {
  display: block;
  background-color: #0056D2;
  line-height: 4px;
  border-radius: 2px;
  color: white;
  height: 36px;
  min-width: 88px;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}
.link-join:hover {
  background-color: #0350b6;
}

/* Courses */
.container__courses {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: 748px;
}

.courses__suptitle {
  margin-bottom: 0px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 20px;
  color: #382d8b;
  font-weight: 600;
}

.courses__title {
  line-height: 52px;
  font-size: 44px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: -0.1px;
  color: #1f1f1f;
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 16px;
}

.courses__subtitle {
  line-height: 28px;
  font-size: 20px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: -0.1px;
  color: #1f1f1f;
  font-weight: normal;
  margin-bottom: 32px;
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-back {
  border-radius: 3px;
  height: 395px;
  overflow: hidden;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.12) 0px 1px 4px;
          box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.12) 0px 1px 4px;
}
.course-back:hover {
  -webkit-box-shadow: rgba(31, 31, 31, 0.24) 0px 1px 6px, rgba(31, 31, 31, 0.24) 0px 1px 4px;
          box-shadow: rgba(31, 31, 31, 0.24) 0px 1px 6px, rgba(31, 31, 31, 0.24) 0px 1px 4px;
}

.image-back {
  width: 268px;
  height: 132px;
  background-size: cover;
}

.image-font {
  width: 54px;
  height: 54px;
}

.font {
  position: absolute;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  z-index: 1;
  background-color: white;
  width: 72px;
  height: 72px;
  padding: 8px;
}

.course__text {
  line-height: 36px;
  position: relative;
  margin-top: 48px;
  z-index: 1;
  padding: 0.75rem 1.5rem;
}

.course__title {
  opacity: 85%;
  font-size: 20px;
  line-height: 1.5rem;
  font-weight: normal;
}

.course__subtitle {
  font-size: 14px;
  color: #666666;
}

.text__course {
  position: relative;
  color: black;
  opacity: 90%;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* RICE */
.rice-text__course {
  top: 70px;
  left: 25px;
}

.rice__image-font {
  top: 264px;
  left: 28px;
}

/* SYDNEY */
.sydney-text__course {
  top: 50px;
  left: 25px;
}

.sydney__image-font {
  top: 264px;
  left: 338px;
}

.syndey__gratis {
  font-size: 12px;
  float: right;
  font-weight: bold;
  font-family: Arial;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: black;
  background-color: #ffe057;
  border-radius: 10px;
  padding: 4px 17px;
  position: absolute;
  top: 312px;
  left: 495px;
  z-index: 10;
}

/* LEARN_QUEST */
.learn_quest-text__course {
  top: 70px;
  left: 25px;
}

.learn_quest__image-font {
  top: 264px;
  left: 648px;
}

/* SAS */
.sas-text__course {
  top: 90px;
  left: 25px;
}

.sas__image-font {
  top: 264px;
  left: 958px;
}

/* 11 FACULTIES */
.faculty__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.faculties-container {
  max-width: 1240px;
  margin: 0px auto calc(9rem);
  margin: 150px 0;
  line-height: 21px;
}

.faculties-of-title {
  line-height: 52px;
  font-size: 44px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  letter-spacing: -0.1px;
  color: #1f1f1f;
  font-weight: normal;
  margin-bottom: 16px;
}

.course__container {
  display: block;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-right: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 280px;
  max-height: 80px;
  position: relative;
  width: 100%;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.12) 0px 1px 4px;
          box-shadow: rgba(31, 31, 31, 0.12) 0px 1px 6px, rgba(31, 31, 31, 0.12) 0px 1px 4px;
  cursor: pointer;
}
.course__container:hover {
  -webkit-box-shadow: rgba(31, 31, 31, 0.22) 0px 2px 6px, rgba(31, 31, 31, 0.22) 0px 1px 4px;
          box-shadow: rgba(31, 31, 31, 0.22) 0px 2px 6px, rgba(31, 31, 31, 0.22) 0px 1px 4px;
}

.image-container {
  width: 80px;
  min-width: 80px;
  height: 80px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.faculty__title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  margin: 0;
  color: #1f1f1f;
}

.faculty__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  max-height: 20px;
  margin: 0;
  color: #636363;
}

.faculty__image {
  width: 80px;
  height: 80px;
}

.faculty__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}